@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Resume Suggester<br />
    ABC Block 2<br />
    <abbr title="Phone">P:</abbr>
    021-34311379
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:k180198@nu.edu.pk">k180198@nu.edu.pk</a><br />
    <strong>Support:</strong>   <a href="mailto:k180253@nu.edu.pk">k180253@nu.edu.pk</a><br />
    <strong>Support:</strong>   <a href="mailto:k180182@nu.edu.pk">k180182@nu.edu.pk</a><br />
</address>