@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Resume Classifier and Job Portal</h1>
    <p class="lead">Machine learning based classification techniques with similarity functions are used to find most relevant resume.</p>
    <p><a href="https://drive.google.com/drive/folders/1vHYW7L3z2Kyc4OPEm8j_Yh_nTo7-y0QQ?usp=sharing" class="btn btn-primary btn-lg">View Project Report &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Find the right one</h2>
        <p>
            Separating right candidates from the pack with millions of people seeking jobs; it is humanly impossible to screen the CVs and find the right match. This makes the whole hiring process slow and inefficient costing resources to the companies.
        </p>
        <p><a class="btn btn-default" href="https://www.forbes.com/sites/forbeshumanresourcescouncil/2021/08/25/why-its-so-hard-to-find-the-right-candidates-in-todays-economy/?sh=2013544b5912">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get help in screening</h2>
        <p>Making sense of candidate CVs - Second challenges are posed by the fact that the CVs in the market are not standard practically every resume in the market has different structure and format. HR has to manually go through the CVs to find the right match to the job description. This is resource intensive and prone to error whereby a right candidate for the job might get missed in the process.</p>
        <p><a class="btn btn-default" href="https://www.indeed.com/recruitment/resources/howtohub/how-to-consistently-attract-and-filter-quality-applicants">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Know before hire</h2>
        <p>Knowing that candidates can do the job before you hire them -The third and the major challenge is mapping the CV to the job description to understand if the candidate would be able to do the job for which she is being hired.</p>
        <p><a class="btn btn-default" href="https://www.shrm.org/resourcesandtools/tools-and-samples/toolkits/pages/screeningandevaluatingcandidates.aspx">Learn more &raquo;</a></p>
    </div>
</div>