
@{
    ViewBag.Title = "ErrorSuggestedResume";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Suggested Resume on Basis of Ranking</h2>

<table class="table">
    <tr>
        <th>
            Rank No
        </th>
        <th>
            Ranking Score
        </th>
        <th>
            Resume
        </th>
    </tr>
    @ViewBag.Exception

</table>

