
@{
    ViewBag.Title = "ErrorNewViewResumes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>All the posted Resumes</h2>
<table class="table">
    <tr>
        <th>
            Resume No
        </th>
        <th>
            Resume Type
        </th>
        <th>
            View Resume
        </th>
    </tr>
    @ViewBag.newerror
</table>

